<h1>Create Tweet</h1>
<form action="room-create" method="POST">
<input type="text" name="textContent" placeholder="Your tweet here">
<br>
<input type="text" name="imageUrl" placeholder="add an image">
<br>
<button>Sumbit</button>
</form>