<!DOCTYPE html>
<html>
  <head>
    <title> Twitter Light </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="flex justify-between px-2 mt-4 mx-4">
<a class="hover:bg-blue-800 hover:text-white text-black px-4 py-2 rounded-md text-lg font-medium" href="/signup">Sign up</a>
<a class="hover:bg-blue-800 hover:text-white text-black  px-4 py-2 rounded-md text-lg font-medium" href="/login">Log in</a>
</nav>

    <h1 class="text-center mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"> Twitter Lite </h1>


    
  </body>
</html>

