<!DOCTYPE html>
<html>
  <head>
    <title> Twitter Lite </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  {{{body}}}
  </body>
</html>
